$base-spacing-unit: 24px;
$half-spacing-unit: calc($base-spacing-unit / 2);

$color-alpha: #1772ff;
$color-form-highlight: #eeeeee;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: $base-spacing-unit;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  width: 100%;
  border: 1px solid $color-form-highlight;
}

.table-header {
  display: flex;
  width: 100%;
  background: #4f4f4f;
  padding: ($half-spacing-unit * 1.5) 0;
}

.table-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
  background-color: #fff;
}

.table-row {
  display: flex;
  width: 100%;
  padding: ($half-spacing-unit * 1.5) 0;
  border-bottom: 1px solid #000;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.table-data,
.header-item {
  flex: 1 1 20%;
  text-align: center;
  border-right: 1px solid #000;
}

.table-data:last-child,
.header-item:last-child {
  border-right: none;
}

.header-item {
  text-transform: uppercase;
}

.filter-link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: $base-spacing-unit;
  padding-right: $base-spacing-unit;
}
